#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  background-color: white;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.projectHeading {
  text-align: center;
  color: black;
  font-size: 40px;
  border-bottom: 2px solid greenyellow;
  width: 60%;
  margin: auto;
}

.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 600px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.projectButton {
  text-align: center;
  padding-top: 20px;
}
